// Here you can add other styles
@import '~font-awesome/scss/font-awesome';
@import '~simple-line-icons/scss/simple-line-icons';
@import "nestable";
@import "~bootstrap-daterangepicker/daterangepicker";

.app-header.navbar .navbar-brand {
  background-image: url("../../../../storage/app/public/setting/logo.png");
  image-rendering: -webkit-optimize-contrast;
  background-size: 110px auto;
  border-bottom: 0;
}

.form-filter {
  .pagination {
    margin-bottom: 0;
  }
}

.btn-clear, .btn-filter {
  width: 50%;
  display: block;
  float: left;
}

.home-quicklinks {
  .card {
    a {
      display: block;
      color: $body-color;

      &:hover {
        text-decoration: none;
        background-color: $sidebar-nav-link-active-icon-color;
        color: #FFF;
      }
    }

    .icon {
      text-align: center;

      i {
        font-size: 5rem;
      }
    }
  }
}

@media (min-width: 576px) {
  .btn-clear, .btn-filter {
    width: auto;
    display: inline-block;
    float: none;
  }
}

/** new cms invoice template **/
#no-border-table thead th, #no-border-table td{
  border: none !important;
}

#line-break {
  height:2px;
  border-width:0;
  color:#000;
  background-color:gray;
}

#subtable td, th {
  border: 1px solid #000;
  padding: 10px;
  text-align: center !important;
}    

#subtable th {
  background-color: #dddddd;
}

.custom-h1 {
  font-weight: 200; 
}

#cursive-handwriting {
  font-family: "Brush Script MT", "Brush Script Std", "cursive" !important;
}

@media screen and (max-width: 919px) {
  .u-col-33p17 {
      display: table-row-group !important;
  }
}

@media screen and (min-width: 768px) {
  #main-subtable {
      text-align: -webkit-right;
      margin-top: 32px;
  }
}

@media screen and (max-width: 1287px) and (min-width:920px) {
  #responsive-notes {
    padding: 15px !important;
  }
}