.auth-register {
  .left-content {
    padding-right: 0;

    @include media-breakpoint-down(sm) {
      padding-right: 15px;
    }

    .content {
      background-color: $theme-color;
      padding: 2rem;
      color: #FFF;
      height: 100%;
    }
  }

  .right-content {
    padding-left: 0;

    @include media-breakpoint-down(sm) {
      padding-left: 15px;
    }

    .content {
      background-color: #FFF;
      height: 100%;
      padding: 2rem;

      .control-label {
        color: $theme-color;
        font-weight: bold;
      }
    }
  }
}