footer {
  .wrapper {
    background-color: $theme-color-2;
    color: #FFF;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    a {
      color: #FFF;
    }
  }

  .footer-left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 3rem;
    }

    > .row {
      width: 100%;

      @include media-breakpoint-down(sm) {
        padding-left: 30px;
      }
    }
  }

  .social {
    ul {
      margin: 0;

      li {
        font-size: 2rem;
      }
    }
  }

  .footer-link {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      @include media-breakpoint-down(md) {
        display: block;
      }

      &:not(:last-child) {
        margin-right: 1.5rem;

        @include media-breakpoint-down(sm) {
          margin-right: 0;
        }
      }
    }
  }
}

